/*----------------------------
 3.footer-area
-----------------------------*/
.footer-aera {
    padding-top: 11rem;
    background: var(--white);
    position: relative;
    z-index: 1;
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 75%;
        background: url(../images/footer-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .footer-widget {
        padding: 3rem 0;
        .footer-brand {
            margin-bottom: 4rem;
        }
        .footer-menu-widget {
            margin-bottom: 4rem;
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 2rem;
                    a {
                        display: inline-block;
                        font-size: 1.6rem;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: #524F4F;
                        transition: $transition;
                        &:hover {
                            color: var(--hover-color);
                        }
                    }
                }
            }
        }
        .social-media-widget {
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 1rem;
                    a {
                        display: inline-block;
                        width: 4rem;
                        height: 4rem;
                        line-height: 4rem;
                        border-radius: 50%;
                        border: 1px solid #A4A0A0;
                        color: #524F4F;
                        text-align: center;
                        transition: $transition;
                        &:hover {
                            border-color: var(--primary-color);
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
    .footer-bottom-area {
        padding: 3rem 0;
        border-top: 1px solid #EEEEEE;
        .copyright-area {
            p {
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--bColor);
                a {
                    color: var(--bColor);
                    transition: $transition;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .terms-policy-area {
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    position: relative;
                    list-style: none;
                    margin-right: 20px;
                    line-height: 1;
                    &:last-child {
                        margin-right: 0;
                        &:after {
                            display: none;
                        }
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        height: 14px;
                        width: 2px;
                        background: var(--bColor);
                        top: 0;
                        left: calc(100% + 12px);
                    }
                    a {
                        display: inline-block;
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: var(--bColor);
                        transition: $transition;
                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .footer-aera {
        padding-top: 6rem;
    }
}
@media (max-width: 767px) {
    .footer-aera {
        padding-top: 5rem;
    }
}
@media (max-width: 575px) {
    .footer-aera .footer-widget .footer-menu-widget ul li {
        margin: 0 1rem;
    }
}