/*--------------------------
primary-btn  style
---------------------------*/
.primary-btn {
    display: inline-block;
    padding: 1.2rem 3rem;
    border-radius: 3rem 0 3rem 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    background: var(--primary-color);
    color: var(--white);
    transition: $transition;
    &:hover {
        color: var(--white);
        border-radius: 3rem 3rem 0 3rem;
    }
}